:root{
  --red: rgb(241, 56, 56);
}

.button_class{
  border: none;
  background-color:var(--red) ;
  color: aliceblue;
  padding: .5rem;
  border-radius: .5rem;
  outline: none;
  width: 8rem;
  cursor: pointer;
}


